* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-moz-selection {
  color: white;
  background-color: #4484CE;
}

::selection {
  color: white;
  background-color: #4484CE;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0px 32px;
}

.navbar {
  width: 100%;
  position: absolute;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.navbar nav img {
  width: 150px;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav ul li {
  padding: 0px 15px;
  list-style: none;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.navbar nav ul li a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  bottom: -5px;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar nav ul li a:hover::after {
  width: 100%;
}

.navbar nav ul .menu-icon {
  display: none;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar nav ul .bar1,
.navbar nav ul .bar2,
.navbar nav ul .bar3 {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar nav ul .change .bar1 {
  -webkit-transform: translate(0, 11px) rotate(-45deg);
          transform: translate(0, 11px) rotate(-45deg);
}

.navbar nav ul .change .bar2 {
  opacity: 0;
}

.navbar nav ul .change .bar3 {
  -webkit-transform: translate(0, -6px) rotate(45deg);
          transform: translate(0, -6px) rotate(45deg);
}

.section1 {
  width: 100%;
  min-height: 100vh;
  padding: 250px 0px 50px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/assets/images/s1-bgimg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/s1-bgimg.jpg);
  background-size: cover;
  background-position: center;
}

.section1 .sec1-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1 .sec1-in .sec1-p1 {
  font-size: 11px;
  color: white;
  letter-spacing: 3px;
  position: relative;
}

.section1 .sec1-in .sec1-p1::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 120px;
  left: 50%;
  bottom: 1.5rem;
  background-color: white;
}

.section1 .sec1-in .sec1-p2 {
  color: white;
  font-size: 52px;
  max-width: 400px;
  position: relative;
  text-align: center;
}

.section1 .sec1-in .sec1-p2::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 120px;
  left: 50%;
  top: 9rem;
  background-color: white;
}

.section1 .sec1-in .sec1-btn {
  margin-top: 10rem;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 15px 50px;
  color: white;
  border: 1px solid white;
}

.section1 .sec1-in .sec1-btn:hover {
  cursor: pointer;
  border: 1px solid #fcb900;
  background-color: #fcb900;
  -webkit-transition: .3s;
  transition: .3s;
}

.section2 {
  width: 100%;
  padding: 100px 0px;
}

.section2 .sec2-in .sec2-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section2 .sec2-in .sec2-boxs .sec2-box {
  width: 21%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2 .sec2-in .sec2-boxs .sec2-box img {
  height: 64px;
  margin: 0px 0px 20px;
}

.section2 .sec2-in .sec2-boxs .sec2-box .sec2-box-p1 {
  color: #222222;
  font-size: 26px;
  margin: 0px 0px 9.5px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
}

.section2 .sec2-in .sec2-boxs .sec2-box .sec2-box-p2 {
  color: #666666;
  font-size: 15px;
  text-align: center;
}

.section3 {
  width: 100%;
  padding: 100px 0px;
}

.section3 .sec3-in .sec3-boxs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .sec3-in .sec3-boxs .sec3-box {
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section3 .sec3-in .sec3-boxs .sec3-box img {
  width: 50%;
}

.section3 .sec3-in .sec3-boxs .sec3-box .sec3-box-fortext {
  padding: 15px 40px;
}

.section3 .sec3-in .sec3-boxs .sec3-box .sec3-box-fortext .sec3-box-p1 {
  color: #222222;
  font-size: 32px;
  margin: 0px 0px 9.5px;
  line-height: 1.3;
}

.section3 .sec3-in .sec3-boxs .sec3-box .sec3-box-fortext .sec3-box-p2 {
  color: #666666;
  font-size: 15px;
  margin: 0px 0px 9.5px;
  font-weight: 400;
  line-height: 1.8;
}

.section4 {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0px;
}

.section4 .sec4-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 .sec4-in .sec4-p1 {
  color: #222222;
  font-size: 32px;
  margin: 20px 0px 9.5px;
  font-weight: 500;
  line-height: 1.1;
}

.section4 .sec4-in .sec4-p2 {
  color: #666666;
  margin: 0px 0px 9.5px;
  font-weight: 400;
  line-height: 26px;
}

.section4 .sec4-in .sec4-boxs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.section4 .sec4-in .sec4-boxs .sec4-box {
  width: 23%;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.section4 .sec4-in .sec4-boxs .sec4-box::after {
  content: "";
  position: absolute;
  background-color: rgba(6, 147, 227, 0.8);
  width: 0;
  height: 0;
  left: 0;
  border-radius: 3px;
  z-index: 1;
}

.section4 .sec4-in .sec4-boxs .sec4-box:hover::after {
  width: 100%;
  height: 100%;
}

.section4 .sec4-in .sec4-boxs .sec4-box:hover .sec4-box-fortext {
  display: block;
}

.section4 .sec4-in .sec4-boxs .sec4-box img {
  width: 100%;
  border-radius: 3px;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-fortext {
  position: absolute;
  top: 4rem;
  left: 4rem;
  text-align: center;
  display: none;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-fortext .sec4-box-p1 {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 500;
  z-index: 2;
  text-align: center;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-fortext .sec4-box-p2 {
  display: inline;
  position: relative;
  z-index: 2;
  font-size: 15px;
  color: #ededed;
  font-weight: 600;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-fortext .sec4-box-p2::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0;
  left: 0;
  bottom: 0px;
  height: 0.5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-fortext .sec4-box-p2:hover::after {
  width: 100%;
}

.section5 {
  width: 100%;
  padding: 50px 0px 0px 0px;
  height: 250px;
  background-image: url(/assets/images/s5-bgimg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section5 .sec5-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section5 .sec5-in .sec5-p1 {
  color: white;
  font-size: 32px;
  margin: 20px 0px 9.5px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
}

.section5 .sec5-in .sec5-p2 {
  color: white;
  margin: 0px 0px 9.5px;
  line-height: 26px;
  max-width: 400px;
  text-align: center;
}

.section6 {
  width: 100%;
  padding: 0px 0px 80px 0px;
  background-color: #fcb900;
}

.section6 .sec6-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section6 .sec6-in .sec6-p1 {
  color: #003580;
  font-size: 19px;
  margin: 0px 0px 22px;
  font-weight: 500;
  line-height: 1.2em;
  margin-top: 3rem;
}

.section6 .sec6-in .sec6-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.section6 .sec6-in .sec6-form input {
  width: 48%;
  border: none;
  padding: 12px;
}

.section6 .sec6-in .sec6-form .sec6-btn {
  color: white;
  background-color: #4484CE;
  padding: 6.1776px 20.592px;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid #4484CE;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 2px #999;
          box-shadow: 1px 1px 2px #999;
}

.section6 .sec6-in .sec6-form .sec6-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 768px) {
  .navbar nav ul li {
    display: none;
  }
  .navbar nav ul .menu-icon {
    display: block;
  }
  .section2 .sec2-in .sec2-boxs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section2 .sec2-in .sec2-boxs .sec2-box {
    width: 48%;
  }
  .section3 .sec3-in .sec3-boxs {
    gap: 20px;
  }
  .section3 .sec3-in .sec3-boxs .sec3-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section3 .sec3-in .sec3-boxs .sec3-box img {
    width: 100%;
    padding: 0px 40px;
  }
  .section4 .sec4-in .sec4-boxs .sec4-box {
    width: 48%;
  }
}

@media screen and (max-width: 568px) {
  .section6 .sec6-in .sec6-form input {
    width: 47%;
  }
  .section5 .sec5-in .sec5-p1 {
    font-size: 25px;
  }
  .section5 .sec5-in .sec5-p2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 468px) {
  .section1 .sec1-in .sec1-p2 {
    font-size: 30px;
    text-align: center;
  }
  .section1 .sec1-in .sec1-p2:after {
    top: 6rem;
  }
  .section2 .sec2-in .sec2-boxs .sec2-box {
    width: 90%;
  }
  .section4 .sec4-in .sec4-boxs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section4 .sec4-in .sec4-boxs .sec4-box {
    width: 95%;
  }
  .section6 .sec6-in .sec6-form input {
    width: 46%;
  }
  .section6 .sec6-in .sec6-form .sec6-btn {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .section1 .sec1-in .sec1-btn {
    padding: 15px 30px;
  }
  .section3 .sec3-in .sec3-boxs .sec3-box .sec3-box-fortext .sec3-box-p1 {
    font-size: 25px;
  }
  .section3 .sec3-in .sec3-boxs .sec3-box .sec3-box-fortext .sec3-box-p2 {
    font-size: 13px;
  }
  .section6 .sec6-in .sec6-form input {
    width: 45%;
  }
}
/*# sourceMappingURL=style.css.map */